{% load static %}
{% load i18n %}
{% language 'es' %}

<!DOCTYPE html>

<html lang="es">
    <head>
        <!-- Base header for all templates,
            it includes the title and icon to show on the pages,
            link to bootstrap which is widely used across the project,
            the base css that has things that most templates use
            and link to jQuery that is also used across the project.
            It has a block called "header" where each child can define all extra things it may need.
        -->
        <meta charset="UTF-8">
        <title>Dimaco</title>
        <link rel="icon"href="{% static 'favicon.ico' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        {% block header %}{% endblock header %}
    </head>
    
    <!-- Esential code for every page, 
        it has the go back to main button,
        the logo of Dimaco 
        and the logout link.
        It has a block called "content" where each child defines the body of the page
    -->
    <body style="background-color: #dfdfdf;">
        <table class="table tabla">
            <thead>
                <th id="button">
                    <button type="button" class="button_inicio" id="button_inicio" onclick="keep_sucursal('/')" style="margin-right: 20px;">Volver a inicio</button>
                </th>
                <th id="logo">
                    <h1 class="titlep" onclick="keep_sucursal('/')">
                        <img src="{% static 'images/logo.png'%}" style="width: 250px; height: 55px;">
                    </h1>
                    <table class="table tabla">
                        <th class="tabla_sede">
                            {% if colina == '1' and sucursal != '0'%} 
                                <button type="button" class="button_sede" onclick="cambiar_sucursal(0)" style="margin-right: 20px;">Colina</button>
                            {% endif %}
                            {% if concepcion == '1' and sucursal != '1' %} 
                                <button type="button" class="button_sede" onclick="cambiar_sucursal(1)"  style="margin-right: 20px;">Concepción</button>
                            {% endif %}
                            {% if santa_elena == '1' and sucursal != '2' %} 
                                <button type="button" class="button_sede" onclick="cambiar_sucursal(2)"  style="margin-right: 20px;">Santa Elena</button> 
                            {% endif %}
                        </th>
                    </table>
                </th>
                <th class="logout">
                    <a href="{% url 'logout' %}" ID="Logout" class="nav-link"> Cerrar sesión </a>
                </th>
            </thead>
        </table>
        

        {% block content %}{% endblock content %}

        <script type="text/javascript">
            function cambiar_sucursal(n){
                var prev_url = window.location.href;
                var new_loc = prev_url.split("\?");
                window.location = new_loc[0] + "?sucursal=" + n;
            }

            function keep_sucursal(new_loc){
                var url_string = window.location.href
                var url_param = new URL(url_string);
                var sucursal = url_param.searchParams.get("sucursal");
                if (sucursal == null) sucursal = '2'
                window.location=new_loc+'?sucursal=' + sucursal;
            }
        </script>

        
    </body>
</html>
{% endlanguage %}   