{% extends 'AppMejoraDespacho/base.html' %}
{% load static %}
{%load form_template_extras%}
{% load i18n %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/apprest.css' %}">
<link rel="stylesheet" href="{% static 'css/apprest_cambiar.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock header%}

{% block content %}
<div class="mensajeAlerta">
	{% if formulario.errors %}
		{% for field in formulario %}
			{% for error in field.errors %}
				<div class="alert alert-danger" role="alert" style="text-align: center; margin-left: 15%; margin-right: 15%;">
					{{ error|escape }}
				</div>
			{% endfor %}
		{% endfor %}
	{% endif %}
</div>

<form action="/action_page.php" class="selector_nvv">
    <label for="nvvs">Elige una NVV para editar:</label>
    <select name="nvvs" id="nvvs">
        <option value="None">-----------------</option>
        {% for item in queryset %}
            <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
    </select>
</form>

<table class="table datos fixed" id="tabla">
    <thead>
        <tr class="text-center">
            <th scope="col" id="listado_e">NVV</th>
            <th scope="col" id="listado_e">Región</th>
            <th scope="col" id="listado_e">Comuna</th>
            <th scope="col" id="listado_e">Dirección</th>
            <th scope="col" id="listado_e">Nombre contacto</th>
            <th scope="col" id="listado_e">Teléfono contacto</th>
            <th scope="col" id="listado_e">Observaciones</th>
            <th scope="col" id="listado_e">Fecha despacho</th>
            <th scope="col" id="listado_e">Hora despacho</th>
        </tr>
    </thead>
    <tbody>
        <tr class="text-center">
            <td id="nvv"></td>
            <td id="region"></td>
            <td id="comuna"></td>
            <td id="direccion"></td>
            <td id="nombre_contacto"></td>
            <td id="telefono_contacto"></td>
            <td id="observacion"></td>
            <td id="fecha_despacho"></td>
            <td id="hora_de_despacho"></td>
        </tr>
    </tbody>
</table>

<form action= "" class="formulario" id="formulario" method="POST" enctype="multipart/form-data">
{% csrf_token %}

    {% for field in formulario %}
    <div class="form-group block-form">
        {% if field.label == "NVV" %}
            <div style="display:none">{{ field }}</div>
        {% else %}
            <label id="{{ field.name }}">{{ field.label }}</label><br>
            {{ field }}
        {% endif %}
    </div>
    {% endfor %}
    <input class="btn btn-default" class="boton-sumbit" id="boton" type="submit" value="Subir cambios" readonly>
</form>

<script>
    window.onbeforeunload = function() {
        sessionStorage.setItem("nvv", $('#nvvs').val());
        sessionStorage.setItem("direccion", $('#direccion').html());
        sessionStorage.setItem("region", $('#region').html());
        sessionStorage.setItem("comuna", $('#comuna').html());
        sessionStorage.setItem("nombre_contacto", $('#nombre_contacto').html());
        sessionStorage.setItem("telefono_contacto", $('#telefono_contacto').html());
        sessionStorage.setItem("observacion", $('#observacion').html());
        sessionStorage.setItem("fecha_despacho", $('#fecha_despacho').html());
        sessionStorage.setItem("hora_de_despacho", $('#hora_de_despacho').html());
    }
    window.onload = function() {
        var nvv_cargado = sessionStorage.getItem("nvv");
        if (nvv_cargado != null && nvv_cargado != "None") {
            $('#nvvs').val(nvv_cargado);
            $('#tabla').show();
            $('#formulario').show();

            $('#direccion').html(sessionStorage.getItem("direccion"));
            $('#region').html(sessionStorage.getItem("region"));
            $('#comuna').html(sessionStorage.getItem("comuna"));
            $('#nombre_contacto').html(sessionStorage.getItem("nombre_contacto"));
            $('#telefono_contacto').html(sessionStorage.getItem("telefono_contacto"));
            $('#observacion').html(sessionStorage.getItem("observacion"));
            $('#fecha_despacho').html(sessionStorage.getItem("fecha_despacho"));
            $('#hora_de_despacho').html(sessionStorage.getItem("hora_de_despacho"));
        }
    }

    function getNvv() {
        var data = JSON.parse('{{ serialized | safe }}');
        var nvv = data.find(function(item) {
            if (item.pk == $('#nvvs').val()){
                return item;
            }
        })
        return nvv;
    }

    $('#nvvs').change(function () {
        if ($('#nvvs').val() == "None") {
            $.ajax({
                success: function() {
                    $('#tabla').hide();
                    $('#formulario').hide();
                }
            })
        }
        else {
            var nvv = getNvv();

            var date = new Date(nvv.fields.fecha_despacho);
            var time_ini = new Date(nvv.fields.hora_de_despacho_inicio);
            var time_fin = new Date(nvv.fields.hora_de_despacho_fin);

            var fecha_entregado = nvv.fields.fecha_entregado;

            $.ajax({
                success: function() {
                    $('#nvv').html(nvv.pk);
                    $('#direccion').html(nvv.fields.direccion);
                    $('#region').html(regiones[nvv.fields.region-1]);
                    $('#comuna').html(comunas[nvv.fields.region-1][nvv.fields.comuna-1]);
                    $('#nombre_contacto').html(nvv.fields.nombre_contacto);
                    $('#telefono_contacto').html(nvv.fields.telefono_contacto);
                    $('#observacion').html(nvv.fields.observacion);
                    $('#fecha_despacho').html(("0" + date.getDate()).slice(-2) + "/" + ("0" + (date.getMonth()+1)).slice(-2) + "/" + date.getFullYear());
                    $('#hora_de_despacho').html(nvv.fields.hora_de_despacho_inicio.substr(0,5) + " - " + nvv.fields.hora_de_despacho_fin.substr(0,5));
                    $('#tabla').show();
                    $('#id_nvv').val(nvv.pk);
                    $('#id_estado').val(nvv.fields.estado);
                    $('#formulario').show();
                }
            })
        }

        var fecha_entregado = nvv.fields.fecha_entregado;
        if (nvv.fields.estado == 2) {
            $.ajax({
                success: function() {
                    $('#id_fecha_entregado').val(fecha_entregado);
                    $('#fecha_entregado').show();
                    $('#id_fecha_entregado').show();
                }
            })
        }
        else {
            $.ajax({
                success: function() {
                    $('#id_fecha_entregado').hide();
                    $('#fecha_entregado').hide();
                    $('#id_fecha_entregado').val(fecha_entregado);
                }
            })
        }
    })

    $('#id_estado').change(function () {
        var nvv = getNvv();
        var fecha_entregado = nvv.fields.fecha_entregado;
        if ($(this).val() == 2) {
            $.ajax({
                success: function() {
                    $('#id_fecha_entregado').val(fecha_entregado);
                    $('#fecha_entregado').show();
                    $('#id_fecha_entregado').show();
                }
            })
        }
        else {
            $.ajax({
                success: function() {
                    $('#id_fecha_entregado').hide();
                    $('#fecha_entregado').hide();
                    $('#id_fecha_entregado').val(fecha_entregado);
                }
            })
        }
    })
</script>

{% endblock content %}