{% load static %}
{% load form_template_extras %}
{% load i18n %}
{% load tabla_tags %}

<tr class="text-center" id="{{ item.nvv }}">
    <td class="dt-control"></td>
    <td>{{ item.nvv }}</td>
    <td>{{ item.fecha_solicitud|date:"d F Y H:i" }}</td>
    <td>{{ regiones|get_region:item.region }}</td>
    <td>{{ comunas|get_comunas_por_region:item.region|get_comuna:item.comuna }}</td>
    <td>{{ item.direccion }}</td>
    <td>{{ item.nombre_contacto }}</td>
    <td>{{ item.telefono_contacto }}</td>
    <td>
        {% if item.listo == 1 %}
            <select class='Estado_listo' id='{{ item.nvv }}' disabled>
                <option selected value=5>Despachado</option>
            </select>
        {% elif item.estado == 4 %}   
            <select class='Estado' id='{{ item.nvv }}'>
                <option value=0>En preparación</option>
                <option value=1>Preparado</option>
                <option value=2>Tubos</option>
                <option value=3>Cañería</option>
                <option selected value=4>Rollos</option>
            </select>
        {% elif item.estado == 3 %}   
            <select class='Estado' id='{{ item.nvv }}'>
                <option value=0>En preparación</option>
                <option value=1>Preparado</option>
                <option value=2>Tubos</option>
                <option selected value=3>Cañería</option>
                <option value=4>Rollos</option>
            </select>
        {% elif item.estado == 2 %}   
            <select class='Estado' id='{{ item.nvv }}'>
                <option value=0>En preparación</option>
                <option value=1>Preparado</option>
                <option selected value=2>Tubos</option>
                <option value=3>Cañería</option>
                <option value=4>Rollos</option>
            </select>
        {% elif item.estado == 1 %}
            <select class='Estado' id='{{ item.nvv }}'>
                <option value=0>En preparación</option>
                <option selected value=1>Preparado</option>
                <option value=2>Tubos</option>
                <option value=3>Cañería</option>
                <option value=4>Rollos</option>
            </select>
        {% else %}
            <select class='Estado' id='{{ item.nvv }}'>
                <option selected value=0>En preparación</option>
                <option value=1>Preparado</option>
                <option value=2>Tubos</option>
                <option value=3>Cañería</option>
                <option value=4>Rollos</option>
            </select>
        {% endif %}
    </td>
    <td>{{ item.fecha_despacho|date:"d F Y" }}</td>
    <td>
        {% if item.hora_despacho_extra_inicio|date:"G" == "0" %}
            {{ item.hora_de_despacho_inicio }} - {{ item.hora_de_despacho_fin }}
        {% else %}
            {{ item.hora_de_despacho_inicio }} - {{ item.hora_de_despacho_fin }},<br>{{ item.hora_despacho_extra_inicio }} - {{ item.hora_despacho_extra_fin }}
        {% endif %}
    </td>

    <td style="display: none;">
        {{item.fecha_nvv}}\,{{item.cliente}}\,{{item.rut}}\,{{item.condicion_pago}}\,{% if item.comprobante_pago == "None" %}
        No hay
    {% else %}
        <a href="{{ item.comprobante_pago.url }}" target="_blank">Link</a>
    {% endif %}\,{{item.observacion}}\,{{item.numero_guia}}\,{{item.nombre_vendedor}}\,{{item.nombre_asistente}}\,{{item.listo}}
    </td>
    
</tr>