{% extends 'AppMejoraDespacho/base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/apprest.css' %}">
<link rel="stylesheet" href="{% static 'css/apprest_form.css' %}">
<link rel="stylesheet" href="{% static 'css/apprest_delete_form.css' %}">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock header%}

{% block content %}

<form action= "" class="formulario" id="formulario" method="POST" enctype="multipart/form-data">
{% csrf_token %}
<div class="form-group block-form">
    <label>{{ formulario.nvv.label }}</label><br>
    <div style="display: none;">{{ formulario.nvv }}</div>
    <select class="js-states form-control js-example-basic-single" id="nvv_selector">
        {% for opt in formulario.nvv %}
            {{ opt }}
        {% endfor %}
    </select>
</div>
<input class="btn btn-default boton-sumbit" onclick="prompt_confirm()" id="boton" disabled value="Eliminar" readonly>

<div id ="confirm_prompt_background" class="confirm_prompt_background" style="display: none;"></div>
<div id="confirm_prompt" class="confirm_prompt" style="display: none;">
<div id="confirm_texto" class="confirm_texto"></div>
<input class="btn" id="boton_confirm" type="submit" value="Confirmar" readonly> <input class="btn" onclick="cancelar()" id="boton_cancel" value="Cancelar" readonly>
</div>
</form>

<script>
    $(document).ready(function() {
		$('.js-example-basic-single').select2();
	});


    $('#nvv_selector').change(function() {
		var nvv = $(this).val();

		$.ajax({
			success: function () {
				$('#id_nvv').val(nvv);
			}
		})
	})

    $('#nvv_selector').change(function () {
        if ($(this).val() == "None") {
            $('#boton').prop('disabled', true);
        }
        else {
            $('#boton').prop('disabled', false);
        }
    })

    function prompt_confirm() {
        $('#confirm_texto').html(`¿Confirmas que quieres eliminar la nota de venta ${$('#id_nvv').val()}? <br>`);
        $('#confirm_prompt_background').show();
        $('#confirm_prompt').show();
        $('#confirm_texto').show();
        $('#boton_confirm').show();
        $('#boton_cancel').show();
    }

    function cancelar() {
        $('#confirm_prompt_background').hide();
        $('#confirm_prompt').hide();
        $('#confirm_texto').hide();
        $('#boton_confirm').hide();
        $('#boton_cancel').hide();
    }

</script>


{% endblock content %}