{% extends 'AppMejoraDespacho/base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/apprest.css' %}">
<link rel="stylesheet" href="{% static 'css/apprest_form.css' %}">
{% endblock header%}

{% block content %}
<div class="titulo_pagina d-flex justify-content-center">Ingresa una nota de venta</div>
<div class="mensajeAlerta">
	{% if formulario.errors %}
		{% for field in formulario %}
			{% for error in field.errors %}
				<div class="alert alert-danger" role="alert" style="text-align: center; margin-left: 15%; margin-right: 15%;">
					{{ error|escape }}
				</div>
			{% endfor %}
		{% endfor %}
	{% endif %}
</div>
<form class="form" action="" method="POST" enctype="multipart/form-data" onsubmit="return validarFormulario()">
{% csrf_token %}

{% for field in formulario %}
	{% if field.name == "check" %}
		{{ field.label }}
		{{ field }}
	{% else %}
		<div class="form-group block-form">
			<label>{{ field.label }}</label><br>
			{{ field }}
		</div>
	{% endif %}
{% endfor %}
<input class="btn btn-default" class="boton-sumbit" id="boton" type="submit" onclick="return validarFormulario()">
</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
	$("#id_region").change(function () {
		var url = "ajax/load-comunas/";
		var regionId = $(this).val();

		$.ajax({
			url: url,
			data: {
				'region': regionId
			},
			success: function (data) {
				$("#id_comuna").html(data);
			}
		});
	});
</script>
{% endblock content %}