{% extends 'AppMejoraDespacho/base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/apprest.css' %}">
<link rel="stylesheet" href="{% static 'css/apprest_form.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock header%}

{% block content %}

<form action="/action_page.php" class="selector_nvv">
    <label for="nvvs">Elige una NVV para editar:</label>
    <select name="nvvs" id="nvvs">
        <option value="None">-----------------</option>
        {% for item in queryset %}
            <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
    </select>
</form>

<div class="table-responsive table-l">
    <table class="table table-hover table-striped table-image" id="listado">
        <thead>
            <tr class="text-center">
                <th scope="col" id="listado_e">NVV</th>
                <th scope="col" id="listado_e">Fecha NVV</th>
                <th scope="col" id="listado_e">Fecha solicitud</th>
                <th scope="col" id="listado_e">RUT cliente</th>
                <th scope="col" id="listado_e">Nombre cliente</th>
                <th scope="col" id="listado_e">Región</th>
                <th scope="col" id="listado_e">Comuna</th>
                <th scope="col" id="listado_e">Dirección</th>
                <th scope="col" id="listado_e">Nombre contacto</th>
                <th scope="col" id="listado_e">Teléfono contacto</th>
                <th scope="col" id="listado_e">Condición de pago</th>
                <th scope="col" id="listado_e">Observaciones</th>
                <th scope="col" id="listado_e">Estado</th>
                <th scope="col" id="listado_e">Comprobante de pago</th>
                <th scope="col" id="listado_e">Fecha despacho</th>
                <th scope="col" id="listado_e">Hora despacho</th>
                <th scope="col" id="listado_e">Fecha entrega</th>
                <th scope="col" id="listado_e">Observaciones despacho</th>
                <th scope="col" id="listado_e">Documento de salida</th>
                <th scope="col" id="listado_e">Número</th>
            </tr>
        </thead>
        <tbody>
            {% for item in queryset %}
            <tr class="text-center">
                {% language 'es' %}
                <td id="listado_e">{{ item.nvv }}</td>
                <td id="listado_e">{{ item.fecha_nvv|date:"d F Y" }}</td>
                <td id="listado_e">{{ item.fecha_solicitud|date:"d F Y" }}</td>
                <td id="listado_e">{{ item.rut }}</td>
                <td id="listado_e">{{ item.cliente }}</td>
                <td id="listado_e">{{ regiones|get_region:item.region }}</td>
                <td id="listado_e">{{ comunas|get_comunas_por_region:item.region|get_comuna:item.comuna }}</td>
                <td id="listado_e">{{ item.direccion }}</td>
                <td id="listado_e">{{ item.nombre_contacto }}</td>
                <td id="listado_e">{{ item.telefono_contacto }}</td>
                <td id="listado_e">{{ item.condicion_pago }}</td>
                <td id="listado_e">{{ item.observacion }}</td>
                <td id="listado_e">
                    {% if item.estado == 2 %}
                    Despachado
                    {% elif item.estado == 1 %}
                    Preparado
                    {% else %}
                    En preparación
                    {% endif %}
                </td>
                <td id="listado_e">
                    {% if item.comprobante_pago == "None" %}
                        No hay
                    {% else %}
                        <a href="{{ item.comprobante_pago.url }}" target="_blank">link</a>
                    {% endif %}
                </td>
                <td id="listado_e">{{ item.fecha_despacho|date:"d F Y" }}</td>
                <td id="listado_e">
                    {{ item.hora_de_despacho_inicio }} - {{ item.hora_de_despacho_fin }}
                </td>
                <td id="listado_e">
                    {% if item.fecha_entregado == None %}
                        No entregado
                    {% else %}
                        {{ item.fecha_entregado|date:"d F Y" }}
                    {% endif %}
                </td>
                <td id="listado_e">{{ item.observacion_despacho }}</td>
                <td id="listado_e">
                    {% if item.documento_salida == "None" %}
                        No hay
                    {% else %}
                        <a href="{{ item.documento_salida.url }}" target="_blank">link</a>
                    {% endif %}
                </td>
                {% endlanguage %}
                <td id="listado_e">{{ item.numero }}</td>
            </tr>
            {% endfor %}
            </tbody>
    </table>
</div>

<script>
    $('#nvvs').change(function () {
        if ($('#nvvs').val() != "None") {
        $.ajax({
            success: function() {
                $('form').load("form_modificar_nvv");
            }
        })
    };
    })
    
</script>

{% endblock content %}