{% extends 'AppMejoraDespacho/base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/apprest.css' %}">
<link rel="stylesheet" href="{% static 'css/apprest_form.css' %}">
{% endblock header%}

{% block content %}
<div class="titulo_pagina d-flex justify-content-center">Ingresa una nota de venta</div>
<div class="mensajeAlerta">
	{% if formulario.errors %}
		{% for field in formulario %}
			{% for error in field.errors %}
				<div class="alert alert-danger" role="alert" style="text-align: center; margin-left: 15%; margin-right: 15%;">
					{{ error|escape }}
				</div>
			{% endfor %}
		{% endfor %}
	{% endif %}
</div>
<form class="form" action="" method="POST" enctype="multipart/form-data">
{% csrf_token %}

{% for field in formulario %}
<div class="form-group block-form">
	{% if field.name == "hora_despacho_inicio" %}
		<label>{{ field.label }}</label><br>
		<div class="selector_hora">{{ field }} {{ formulario.hora_despacho_fin }}</div>
	{% elif field.name == "hora_despacho_fin" %}
	{% else %}
		<label>{{ field.label }}</label><br>
		{{ field }}
	{% endif %}
</div>
{% endfor %}
<input class="btn btn-default" class="boton-sumbit" id="boton" type="submit" value="Subir" readonly>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
	$("#id_region").change(function () {
		var url = "ajax/load-comunas/";
		var regionId = $(this).val();

		$.ajax({
			url: url,
			data: {
				'region': regionId
			},
			success: function (data) {
				$("#id_comuna").html(data);
			}
		});
	});
	if ($("#id_region").val() != 7) {
		var url = "ajax/load-comunas/";
		var regionId = $("#id_region").val();
		var comuna_actual = $("#id_comuna").val();
		$.ajax({
			url: url,
			data: {
				'region': regionId
			},
			success: function (data) {
				$("#id_comuna").html(data),
				$("#id_comuna").val(comuna_actual);
			}
		});
	};
</script>
{% endblock content %}