{% extends "AppMejoraDespacho/base.html" %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/apprest.css' %}">
{% endblock header%}

{% block content %}
<div class="titulo_pagina">¡Bienvenid@!</div>
<button type="button" class="button" onclick="window.location='form'">Nueva orden de venta</button>
<button type="button" class="button" onclick="window.location='cambiar_estado_nvv'">Cambiar estado orden de venta</button>
<button type="button" class="button" onclick="window.location='tabla'">Tabla de ordenes de venta</button>
<button type="button" class="button" onclick="window.location='delete_nvv'">Eliminar orden de venta</button>

<script>
    window.onload = function () {
        sessionStorage.clear();
    }
</script>
{% endblock content %}