{% extends "AppMejoraDespacho/base.html" %}
{% load static %}
{% load socialaccount %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/apprest.css' %}">
<script src="{% static 'js/js_storage_clear.js' %}"></script>
{% endblock header%}

{% block content %}
<div class="titulo_pagina">¡Bienvenid@ {{ user.first_name }}!</div>
<button type="button" class="button" onclick="window.location='submit_nvv_form'">Nueva orden de despacho</button>
<button type="button" class="button" onclick="window.location='table'">Revisar estado de despacho</button>
{% if permissions == "Eliminar" %}
    <button type="button" class="button" onclick="window.location='delete_nvv'">Eliminar orden de despacho</button>
{% endif %}
{% endblock content %}