{% extends "AppMejoraDespacho/base.html" %}
{% load static %}

<!-- Deletes anything loaded into cache, because if user is here it means everything is already submitted -->
{% block header %}
<script src="{% static 'js/js_storage_clear.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock header%}

<!-- Template to show success on deleting order and has a button to go back to main -->

{% block content %}
<div class="titulo_pagina">¡Bienvenid@ {{ user.first_name }}!</div>
<div class="titulo_pagina">Usuario no tiene asociada ninguna sede</div>
{% endblock content %}