{% extends 'AppMejoraDespacho/base.html' %}
{% load static %}
{% load form_template_extras %}
{% load i18n %}
{% load tabla_tags %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/apprest.css' %}">
<link rel="stylesheet" href="{% static 'css/tabla.css' %}">
<link rel="stylesheet" href="{% static 'css/apprest_delete_form.css' %}">
<script src="{% static 'js/js_choices.js' %}"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.6.0/jszip-2.5.0/dt-1.11.3/b-2.2.1/b-colvis-2.2.1/b-html5-2.2.1/r-2.2.9/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.6.0/jszip-2.5.0/dt-1.11.3/b-2.2.1/b-colvis-2.2.1/b-html5-2.2.1/r-2.2.9/datatables.min.js"></script>

<script src="https://cdn.datatables.net/plug-ins/preview/scrollToTop/dataTables.scrollToTop.min.js"></script>
{% endblock header%}



{% block content %}
{% language 'es' %}
<div class="table-responsive table-l">
    <table class="table table-hover table-image " id="listado">
        <thead>
            <tr class="text-center display nowrap">
                <th></th>
                <th>NVV</th>
                <th>Fecha solicitud</th>
                <th>Región</th>
                <th>Comuna</th>
                <th>Dirección</th>
                <th>Nombre contacto</th>
                <th>Teléfono contacto</th>
                <th>Estado despacho</th>
                <th>Fecha despacho</th>
                <th>Hora despacho</th>
                <th style="display: none;">Datos extra</th>
                <th style="display: none;">Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for item in queryset %}
                {% if con_guia == 'True' %}
                    {% if item.listo == 1 %}
                        {% include 'AppMejoraDespacho/datos_tabla.html' %}
                    {% endif %}
                {% else %}
                    {% if item.listo == 0 %}
                        {% include 'AppMejoraDespacho/datos_tabla.html' %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            </tbody>
        <tfoot>
            <tr class="text-center display nowrap">
                <th></th>
                <th>NVV</th>
                <th>Fecha solicitud</th>
                <th>Región</th>
                <th>Comuna</th>
                <th>Dirección</th>
                <th>Nombre contacto</th>
                <th>Teléfono contacto</th>
                <th>Estado despacho</th>
                <th>Fecha despacho</th>
                <th>Hora despacho</th>
                <th style="display: none;">Datos extra</th>
            </tr>
        </tfoot>
    </table>
</div>

<div class="boton_ocultar_div">
    {% if con_guia == 'True'%}
        <input class="boton_ocultar" onclick="window.location='tabla_modificable'" id="boton_ocultar" value="Mostrar NVVs sin número de guía" readonly>
    {% else %} 
        <input class="boton_ocultar" onclick="window.location='tabla_modificable_con_guia'" id="boton_ocultar" value="Mostrar NVVs con número de guía" readonly>
    {% endif %}

</div>

<div id ="confirm_prompt_background" class="confirm_prompt_background" style="display: none;"></div>
<div id="confirm_prompt" class="confirm_prompt" style="display: none;">
<div id="confirm_texto" class="confirm_texto"></div>
<input class="btn" onclick="confirmar()" id="boton_confirm" value="Confirmar" readonly> <input class="btn" onclick="cancelar()" id="boton_cancel" value="Cancelar" readonly>

{% endlanguage %}
<script src="{% static 'js/js_tabla.js' %}"></script>


{% endblock content %}