{% extends 'AppMejoraDespacho/base.html' %}
{% load static %}
{% load form_template_extras %}
{% load i18n %}
{% load tabla_tags %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/apprest.css' %}">
<link rel="stylesheet" href="{% static 'css/tabla.css' %}">
<link rel="stylesheet" href="{% static 'css/apprest_delete_form.css' %}">
<script src="{% static 'js/js_choices.js' %}"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<link rel="stylesheet" href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
<script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
{% endblock header%}

{% block content %}
{% language 'es' %}
<div class="table-responsive table-l">
    <table class="table table-hover table-striped table-image" id="listado">
        <thead>
            <tr class="text-center display nowrap">
                <th></th>
                <th>NVV</th>
                <th>Fecha solicitud</th>
                <th>Región</th>
                <th>Comuna</th>
                <th>Dirección</th>
                <th>Nombre contacto</th>
                <th>Teléfono contacto</th>
                <th>Estado</th>
                <th>Fecha despacho</th>
                <th>Hora despacho</th>
                <th style="display: none;">Datos extra</th>
            </tr>
        </thead>
        <tbody>
            {% for item in queryset %}
                {% if con_guia == 'True' %}
                    {% if item.listo == 1 %}
                        {% include 'AppMejoraDespacho/datos_tabla.html' %}
                    {% endif %}
                {% else %}
                    {% if item.listo == 0 %}
                        {% include 'AppMejoraDespacho/datos_tabla.html' %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            </tbody>
    </table>
</div>

<div class="boton_ocultar_div">
    {% if con_guia == 'True'%}
        <input class="boton_ocultar" onclick="window.location='tabla_modificable'" id="boton_ocultar" value="Mostrar NVVs sin número de guía" readonly>
    {% else %} 
        <input class="boton_ocultar" onclick="window.location='tabla_modificable_con_guia'" id="boton_ocultar" value="Mostrar NVVs con número de guía" readonly>
    {% endif %}

</div>

<div id ="confirm_prompt_background" class="confirm_prompt_background" style="display: none;"></div>
<div id="confirm_prompt" class="confirm_prompt" style="display: none;">
<div id="confirm_texto" class="confirm_texto"></div>
<input class="btn" onclick="confirmar()" id="boton_confirm" value="Confirmar" readonly> <input class="btn" onclick="cancelar()" id="boton_cancel" value="Cancelar" readonly>

{% endlanguage %}
<script src="{% static 'js/js_tabla.js' %}"></script>


{% endblock content %}