asgiref
certifi
cffi
charset-normalizer
click
colorama
cryptography
defusedxml
dj-database-url
Django
django-admin-utils
django-chunked-upload
django-file-resubmit
django-intl-tel-input
django-jinja
django-mobile
django-phonenumber-field
django-storages
djangorestframework
h11
idna
Jinja2
MarkupSafe
mssql-django
mysql-connector
mysqlclient
oauthlib
phonenumbers
psycopg2
psycopg2-binary
pycparser
PyJWT
pyodbc
pypi-uploader
python-magic-bin
python3-openid
pytz
requests
requests-oauthlib
shortuuid
six
sqlparse
tzdata
uploader
urllib3
whitenoise
