
.descripcion{
    display: block;
    text-align: center;
}

.descp-block{
    text-align: center;
}

.descp-text1{
    text-align: center;
    display: grid;
    justify-items: center;
    background-color: rgb(219, 182, 134);
    padding: 10px;
    margin-right: 50%;
    margin-left: 10%;
    margin-bottom: 50px;
    border-radius: 15%;
}

.descp-text2{
    text-align: center;
    display: grid;
    justify-items: center;
    background-color: rgb(243, 211, 162);
    padding: 10px;
    margin-left: 50%;
    margin-bottom: 50px;
    margin-right: 10%;
    border-radius: 15%;
}
