/*  Base style for all bodies in the different html */
body {
	background-color: #e0e0e0;
	font-family:  "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;;
}

/*  The big titles some pages have */
.titulo_pagina {
	font-size: 45px;
	text-align: center;
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
	margin-bottom: 50px;
	margin-top: 50px;
	margin-left: 25%;
	color: #444444;
	border-radius: 50%;
	width: 50%;
	height: 25%;
}

