.selector_nvv{
    text-align: center;
}

.datos{
    display: none;
}

.nvv {
	font-size: 30px;
	margin-bottom: 25px;
}

label{
    font-size: 25px;
    color: #444444;
    font-weight: bold;
}

.formulario{
    display: none;
}

table.fixed { table-layout: fixed;}

.formulario{
    font-size: 20px;
    text-align: center;
}

#boton_subir{
    font-size: 20px;
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-style: normal;
    transition: background-color 1s , border-color 1s;
    background-color: #f42414;
    color: #dfdfdf;
    font-size: 20px;
    border-radius: 5px;
    border-style: solid;
    border-color: #cc542c;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 25%;
    height: 50px;
}

#boton_subir:hover{
    cursor: pointer;
    background-color: #ff948c;
    border-color: rgb(255, 240, 240);
    transition-duration: 1s;
}