.selector_nvv{
    text-align: center;
}

.datos{
    display: none;
}

.nvv {
	font-size: 30px;
	margin-bottom: 25px;
}

label{
    font-size: 25px;
    color: #444444;
    font-weight: bold;
}

.formulario{
    display: none;
}

table.fixed { table-layout: fixed;}

.selector_hora{
    font-size: 20px;
    text-align: center;
}