.form-signin{
    text-align: center;
    margin-top: 5%;
}

.button_iniciar_sesion{
    font-size: 30px;
    background-color: #007b34;
	color: #dfdfdf;
	font-family: 'Playfair Display', Georgia, 'Times New Roman', serif;
    font-style: normal;
	border-radius: 5px;
	border-style: solid;
	border-color: #007030;
	transition: background-color 1s , border-color 1s;
}

.button_iniciar_sesion:hover{
    cursor: pointer;
    background-color: #499b6c;
    transition-duration: 1s;
}