/* stylelint-disable selector-list-comma-newline-after */
.title{
    color:black;
    font-family: Brush Script MT;
    font-size: 100px;
    font-weight: normal;
}

.titlep{
    color:whitesmoke;
    font-family: Brush Script MT;
    font-size: 50px;
    font-weight: normal;
    padding-left: 1%;
    cursor: pointer;
}