
.dataTables_paginate, .dataTables_info {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.dataTables_length, .dataTables_filter {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
