div.dataTables_length {
    padding-left: 2em;
}
div.dataTables_length,
div.dataTables_filter {
    padding-top: 0.55em;
}

.show_hide{
    cursor: pointer;
}

#listado, .dataTable {
    width: 100% !important;
}
#boton{
    transition: background-color 1s , border-color 1s;
    background-color: #f42414;
    color: #dfdfdf;
    font-size: 16px;
    border-radius: 5px;
    border-style: solid;
    border-color: #cc542c;
    text-align: center;
    width: 250px;
}

#boton:hover, .boton_ocultar:hover{
    cursor: pointer;
    background-color: #ff948c;
    transition-duration: 1s;
}

.boton_ocultar{
    transition: background-color 1s , border-color 1s;
    background-color: #f42414;
    color: #dfdfdf;
    font-size: 15px;
    border-radius: 5px;
    border-style: solid;
    border-color: #cc542c;
    text-align: center;
    height: 25px;
    margin-bottom: 30px;
}

.boton_ocultar_div {
    text-align: center;
}