{% load static %}
{% load i18n %}
{% language 'es' %}
<!--
    Template when user link is broken
-->
<!DOCTYPE html>

<html lang="es">
    <head>
		<meta charset="UTF-8">
		<title>Dimaco</title>
		<link rel="icon"href="{% static 'favicon.ico' %}">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/login.css' %}">
    </head>
    <body class="text-center" style="background-color: #dfdfdf;">
        <h1 class="titleeep" style="text-align: center;">
			<img src="{% static 'images/logo.png'%}" onclick="go_to_login()" style="cursor: pointer; margin-bottom: 30px; width: 250px; height: 55px; margin-top: 9px;"></h1>
    
            <h1 class="h1 mb-3 fw-normal" style="margin-top: 25px;"> Error </h1>
            El link ha expirado o es incorrecto.<br>
        
            <input class="button_iniciar_sesion" type="submit" onclick="go_to_login()" value="Volver a inicio"><br>
    </body>

    <script>
        function go_to_login(){
            s = String(window.location.href);
            s = s.split('/')[2];
            window.location = 'http://'+s+"/login"
        }
    </script>
</html>
{% endlanguage %}