{% extends "AppMejoraDespacho/user_authentication/base_auth.html" %}
{% load static %}}
<!-- Extends from base_auth.html
	This template has the logo which is non-clickable and the login form
 -->

{% block content %}	
	{%if error%}
		<div class="alert alert-danger" role="alert" style="text-align: center; margin-left: 15%; margin-right: 15%;">
			{{ error }}
		</div>
	{% endif %}
	
	<main class="form-signin">
		
		<form action="" method="POST">
		{% csrf_token %}
			
			<h1 class="h1 mb-3 fw-normal"> Cambio de contraseña </h1>
			
			<div class="form-floating">
				<input type="password" name="password" placeholder="Password..." class="form-control" >
				<label for="floatingPassword">Nueva contraseña</label>
			</div>
            <div class="form-floating">
				<input type="password" name="password2" placeholder="Password..." class="form-control" >
				<label for="floatingPassword">Confirmar nueva contraseña</label>
			</div>

			<input class="button_iniciar_sesion" type="submit" value="Cambiar"><br>			
		</form>
	</main>

{% endblock content %}