{% extends "AppMejoraDespacho/user_authentication/base_auth.html" %}
{% load static %}}
<!-- Extends from base_auth.html
	This template has the logo which is non-clickable and the login form
 -->

{% block content %}
	
	{%if error%}
		<div class="alert alert-danger" role="alert" style="text-align: center; margin-left: 15%; margin-right: 15%;">
			{{ error }}
		</div>
	{% endif %}
	
	<main class="form-signin">
		
		<form action="" method="POST">
		{% csrf_token %}
			
			<h1 class="h1 mb-3 fw-normal"> ¿Olvidaste tu contraseña? </h1>
			Ingresa tu mail asociado a tu cuenta y se te mandaran instrucciones para que ingreses una nueva contraseña

			<div class="form-floating">
				<input type="text" name="mail" placeholder="Mail" class="form-control">
				<label for="floatingInput">Mail</label>
			</div>

			<input class="button_iniciar_sesion" type="submit" value="Enviar instrucciones"><br>

			¿La recordaste? <a href="login"> Iniciar sesión</a><br>
            ¿No tienes cuenta? <a href="register_new"> Regístrate</a>

			
		</form>
	</main>

{% endblock content %}